/* apply a natural box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
    color: #222;
    font-size: 18px;
    font-family: 'FuturaLight', 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

input,
textarea {
    padding: 0.25em;
    font-size: 1em;
}

input[type="submit"],
button {
    cursor: pointer;
}

.page {
    position: relative;
    max-width: 800px;
    margin: 1em auto;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 0.23em;
}

.flash-message {
    text-align: center;
    border: 1px solid;
    border-radius: 0.23em;
    max-width: 400px;
    margin: auto;
    margin-bottom: 1em;
    padding: 0.5em;
}

.flash-message.success {
    background: rgba(0, 255, 0, 0.25);
    color: #008B00;
}

.flash-message.error {
    background: rgba(255, 0, 0, 0.25);
    color: #8B0000;
}

ul.fields {
    padding: 0;
    list-style: none;
}

ul.fields input,
ul.fields textarea {
    width: 100%;
    max-width: 500px;
}

label {
    display: block;
}

.fields > li {
    margin: 1em 0;
}

.guests {
    list-style: none;
    padding: 0;
    margin: 0;
}

.guests li {
    margin: 0.5em 0;
}

.guests .avatar {
    vertical-align: middle;
}

.guests .name {
    font-size: 1.25em;
    margin-left: 0.25em;
}

.guests .you {
    font-style: italic;
    opacity: 0.7;
    font-size: 0.9em;
}

.respond {
    margin: 1em 0;
    padding: 0.5em;
    border: 1px solid #aaa;
    border-radius: 0.2em;
    background-color: #eee;
}

.respond .label {
    display: block;
}

@media screen and (min-width: 480px){
    .respond .label {
        display: inline-block;
    }
}

.respond a,
.respond .selected {
    display: inline-block;
    font-size: 1.1em;
    text-decoration: none;
    margin: 0.25em;
    padding: 0.25em 0.5em;
    border-radius: 0.2em;
    color: rgba(0, 0, 0, 1);
    background: rgba(0, 0, 0, 0.4);
    background: linear-gradient(to bottom, #ffffff, #b8b8b8);
    border: 1px solid #aaa;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.respond a:active,
.respond .selected {
    color: rgba(0, 0, 0, 0.5);
    background: linear-gradient(to top, #ffffff, #b8b8b8);
}

.respond .selected {
    cursor: default;
}
